.burger-button {
  display: none;

  @include mobile {
    @include flex-center(true);
    @include square(44px);

    padding: 0;
    background-color: var(--color-bg);
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-bg);
      border-color: transparent;
    }

    &.is-active {
      .burger-button__line {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;

        &--2 {
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
        }
      }
    }

    &:not(.is-active) {
      .burger-button__line--3 {
        stroke-dasharray: 30 207;
        stroke-dashoffset: -30;
      }
    }

    &__line {
      fill: none;
      stroke: var(--color-primary);
      stroke-width: 6;
      stroke-linecap: round;
      stroke-dasharray: 60 207;
      transition: stroke-dasharray var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

      &__line--2 {
        stroke-dasharray: 60 60;
      }
    }
  }
}