.section {
  position: relative;
  padding-block: var(--section-padding-y);

  &__overlay {
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  }

  &__inner {
    display: flex;
    row-gap: fluid(40, 20);
  }

  &__title {
    max-width: 800px;
    line-height: 1.2;
  }

  &__description {
    max-width: 800px;
  }

  &__divider {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    pointer-events: none;

    svg {
      display: block;
      width: 100%;
      height: fluid(40, 20);
      transform: rotateY(180deg);
    }

    &--bottom {
      bottom: -2px;
    }

    &--white {
      .shape-fill {
        fill: var(--color-white);
      }
    }

    &--bg {
      .shape-fill {
        fill: var(--color-bg);
      }
    }

    &--primary {
      .shape-fill {
        fill: var(--color-primary);
      }
    }
  }

  &-content {
    padding-block: var(--section-padding-y);
    background-color: var(--color-bg);

    &__inner {
      padding: fluid(40, 20);
      border-radius: var(--border-radius);
      background-color: var(--color-white);
      box-shadow: var(--box-shadow);
    }
  }
}