body {
  &.is-fixed {
    overflow: hidden;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
}

h1, h1 {
  font-size: fluid(50, 30);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.skeleton {
  display: flex;
  gap: 30px;

  &-item {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
}

[class*="--decorated"] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100px;
    height: 3px;
    background-color: currentColor;
    border-radius: 10px;
  }
}