$laptop:   1200px;
$tablet:   1023px;
$mobile:   767px;
$mobile-s: 480px;

$container-desktop-width: 1600;
$container-laptop-width: 1200;

@mixin laptop-above {
  @media (width > $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > $mobile-s) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin flex-center($isInline: false) {
  @if ($isInline) {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}