:root {
  --color-primary: #3C485E;
  --color-secondary: #85A0AB;
  --color-white: #FFFFFF;
  --color-bg: rgb(235, 235, 235);
  --color-text: #000000;
  --color-error: #FF5757;

  --border-radius: 8px;
  --border: 3px solid var(--color-bg);
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  --container-width: $laptop;
  --container-padding-x: #{fluid(60, 20)};

  --section-padding-y: #{fluid(100, 50)};

  --transition-duration: 0.3s;
}