.section-hero {
  display: flex;
  align-items: end;
  min-height: fluid(650, 200);

  &__inner {
    flex-direction: column;
    padding-block: fluid(40, 20);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }
}