.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Затемнение фона
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; // Поверх всего
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }

  &__content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    animation: scaleUp 0.3s forwards;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__close {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    color: #333;

    &:hover {
      color: #000;
    }
  }

  @keyframes fadeIn {
    to { opacity: 1; }
  }

  @keyframes scaleUp {
    to { transform: scale(1); }
  }
}