.section-not-found {
  padding-top: 100px;

  &__inner {
    flex-direction: column;
    align-items: center;

    @include mobile-above {
      padding-top: 100px;
    }
  }

  &__title {
    text-align: center;
    font-size: fluid(200, 100);
  }

  &__description {
    text-align: center;
  }
}