.copyright {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: fluid(40, 20);
  padding-block: fluid(30, 10);
  text-align: center;
  background-color: rgba(26, 33, 46, 0.95);

  @include mobile-s {
    flex-direction: column;
    gap:0;
  }
}